<div>
    <div id="feedback-container">

        <%if(locals.user) { %>
            <% for(let i=0; i < user.pendingFeedbacks.length; i++) {%>
                <div class="feedback-item" id="<%= user.pendingFeedbacks[i]._id %>">
                    <div class="feedback-reciever-name"> <%= user.pendingFeedbacks[i].name %> </div>
                    <input type="number" placeholder="please rate between 1 to 5" class="rating">
                    <textarea  cols="30" rows="10" placeholder="enter your feedback here" class="feedback"></textarea>
                    <button onclick="">submit</button>
                </div>
            <%}%>
        <%}%>
    </div>
    <div id="user-profile">
        <% if(locals.user) { %>
            <span class="user-name"> Name:  <%= user.name %> </span>
            <span class="user-name"> Email: <%= user.email %> </span>
            <div class="user-rating">
                Rating: 
                <span class="rating-number"> <%= user.rating %> </span>
                <span class="ratedby-number">  ( <%= user.ratedBy %> ) </spanc>
            </div>
            <span class="user-type"> Employee Type: <%= user.type %></span>
            <span class="user-company"> Company: <%= user.company.name %></span>
            <span class="user-position"> Position: <%= user.position %></span>
        <%}%>
    </div>
</div>

<script src="/js/employeeView.js"></script>